@import "tailwindcss";

body {
  background-color: rgb(223, 222, 222);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.card {
  padding: 2em;
}

@media print {
  .no-print {
    display: none;
  }

  body {
    -webkit-print-color-adjust: exact;
  }

  table {
    border-collapse: collapse;
  }
}
